.App {
  margin: 3% 8%;
}

.App-header {
  float: right;
  display: flex;
  /* justify-content: center; */
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}

.about-quote-container,
.random-button {
  cursor: pointer;
}
