.footer {
  bottom: 0;
  width: 100%;
  margin: 5px auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a9a9a9;
  position: fixed;
}

.footer > a {
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}
